
config cgminer 'default'
	option pool1pw '1234'
	option pool2pw '1234'
	option pool3pw '1234'
	option chip_frequency '600:636:672:708:744:780'
	option fan '10'
	option ssp 'disable'
	option api_allow 'W:127.0.0.1'
	option ntp_enable 'disable'
	option pool1url 'stratum+tcp://stratum.f2pool.com:3333'
	option pool1user 'chengping.001'
	option pool2url 'stratum+tcp://stratum.f2pool.com:25'
	option pool2user 'chengping.001'
	option pool3url 'stratum+tcp://stratum.f2pool.com:3333'
	option pool3user 'chengping.001'
	option voltage_offset '1'

